html, body {
  background-color: #e3fff8
   padding: 50px;
}

h1 {
  text-align: center;
  font-family: 'Domine';
}

p {
  color: #4634eb;
  text-align: right;
  font-size: 18px;
  font-weight: 750;
  font-family: 'Hind';
  line-height: 1.8;
}

.left-para {
  padding-right: 15px;
  padding-left: 5px;
}

.right-para {
  padding-left: 15px;
  padding-right: 5px;
}

.pure-g {
  padding-top: 10px;
}
