p {
  color: #555555;
  text-align: center;
  font-size: 14px;
}
#vis1 {
  margin-left: 100px;
}

#vis2 {
  margin-left: 200px;
}

#vis3 {
  margin-left: 30px;
}

#vis4 {
  margin-left: 40px;
}

#vis5 {
  margin-left: 50px;
}

#vis6 {
  margin-left: 60px;
}
