html, body {
  background-color: #e3fff8;
  padding-left: 30px;
  padding-right: 30px;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2c4f5a;
  color: white;
}

h1, h2 {
  text-align: center;
  font-family: 'Domine';
}

h2 {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;

}

p {
  color: #4634eb;
  text-align: right;
  font-size: 20px;
  font-weight: 750;
  font-family: 'Hind';
  line-height: 1.8;
}

.left-para {
  padding-right: 20px;
  padding-left: 20px;
  text-align: right;
}

.central-para{
  margin-left: 135px;
  margin-right: 135px;
  text-align: center;
}

.central-vis {
  margin-left: 70px;
}

.right-para {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

.pure-g {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
